.games-list {
  padding-bottom: 48px;
}

.author, .privacy-link {
  color: #fff;
  font-size: 0.9em;
  position: absolute;
  bottom: 16px;
  line-height: 24px;
}

.author {
  right: 16px;
  max-width: 170px;
  text-align: right;
}

.privacy-link {
  left: 16px;
}
